@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 72.22% 50.59%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 5% 64.9%;
      --radius: 0.5rem;

      .rhap_time{
        color:black;
      }

      .rhap_download-progress{
        background-color: hsl(var(--primary) / 0.1);
      }
      .rhap_progress-filled{
        background-color: black;
      }
      .rhap_progress-indicator{
        background: white;
        border-color:black;
        border-width: 1px;
      }

      button[aria-label="Play"] {
        color: black;
    }

    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;
      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;
      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;
      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 85.7% 97.3%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;

      .rhap_time{
        color:white;
      }

      .rhap_download-progress{
        background-color: hsl(var(--primary) / 0.1);
      }
      .rhap_progress-filled{
        background-color: white;
      }
      .rhap_progress-indicator{
        background: black;
        border-color:white;
        border-width: 1px;
      }

      button[aria-label="Play"] {
        color: white;
    }

      
    }
  }

  button[aria-label="Rewind"],  button[aria-label="Forward"] {
    display: none;
}

  [data-aria-checked][data-radix-collection-item] {
    visibility: hidden;
  }

  .rhap_container {
    background-color: transparent !important;
    
  }
  .rhap_horizontal .rhap_controls-section {
    display: none;
  }

.iconify iconify--mdi{
  display: none;
}


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }